<!-- views/partials/nav.ejs -->

<nav class="main">
  <div class="row">
    <div class="medium-6 columns text-center medium-text-left">
      <a href="/">Logo</a>
    </div>
    <div class="medium-6 columns text-center medium-text-right">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/profile">My Account</a>
      </li>
      <% if (locals.auth) { %>
        <li>
          <a href="/auth/logout">Logout</a>
        </li>
      <% } %>
    </div>
  </div>
</nav>