<!-- views/pages/index.ejs -->

<!DOCTYPE html>  
<html lang="en">  
  <% include ../partials/head %>
  <body>
  
    <% include ../partials/nav %>

    <div class="row padded">
      <div class="large-12 columns text-center">
        <h1>Welcome to the home page!</h1>
        <br>
        <p>You should probably log in.</p>
        <a href="/login" class="button">Login</a>
      </div>
    </div>

    <% include ../partials/scripts %>
  </body>

</html>  