<!-- views/pages/index.ejs -->

<!DOCTYPE html>  
<html lang="en">  
  <% include ../partials/head %>
  <body>
  
    <% include ../partials/nav %>

    <div class="row padded">
      <div class="medium-8 medium-centered large-6 large-centered columns">

        <form method="post" name="login_form" data-abide novalidate>
          <div class="row column log-in-form">
            <h4 class="text-center">Log in with your email account</h4>

            <% if (locals.error) { %>
              <div class="error">
                <p><%= error %></p>
              </div>
            <% } %>

            <label>Email
              <input name="email" type="email" placeholder="somebody@example.com" required>
              <span class="form-error">Please enter a valid email address.</span>
            </label>
            <label>Password
              <input name="password" type="password" placeholder="Password" required>
              <span class="form-error">Please enter a password.</span>
            </label>
            <p><button type="submit" class="button expanded">Log In</button></p>
            <p class="text-center"><a href="/auth/register">Don't have an account? Register.</a></p>   
          </div>
        </form>

      </div>
    </div>

    <% include ../partials/scripts %>
  </body>
</html>  