<!-- views/pages/index.ejs -->

<!DOCTYPE html>  
<html lang="en">  
  <% include ../partials/head %>
  <body>
    <% include ../partials/nav %>

<<<<<<< HEAD
    <div class="row padded">
      <div class="medium-8 medium-centered large-6 large-centered columns">

        <form name="login_form" data-abide novalidate>
          <div class="row column log-in-form">
            <h4 class="text-center">Log in with your email account</h4>
            <label>Email
              <input name="email" type="email" placeholder="somebody@example.com" required>
              <span class="form-error">Please enter a valid email address.</span>
            </label>
            <label>Password
              <input name="password" type="password" placeholder="Password" required>
              <span class="form-error">Please enter a password.</span>
            </label>
            <p><button type="submit" class="button expanded">Log In</button></p>
            <p class="text-center"><a href="/register">Don't have an account? Register.</a></p>   
          </div>
        </form>

      </div>
    </div>

    <% include ../partials/scripts %>
=======
    <app-main></app-main>

    <% include ../partials/scripts %>
    <% include ../partials/riotimports %>
    <!-- Mount Riot App -->
    <script>
    riot.compile(function()
    {
      riot.route.base('/')
      riot.mount('*')
      riot.route.start(true)
    })
    </script>
  </body>
>>>>>>> e44839d07a2f8b3e8839de3f11e8f01c24994d17
</html>  