<!-- views/pages/index.ejs -->

<!DOCTYPE html>  
<html lang="en">  
  <% include ../partials/head %>
  <body>
  
    <% include ../partials/nav %>

    <div class="row padded">
      <div class="large-12 columns text-center">
        <h1>You logged in!</h1>
        <p style="word-break: break-all"><strong>Your token is:</strong> <%= token %></p>
      </div>
    </div>

    <% include ../partials/scripts %>
  </body>

</html>