<!-- views/pages/index.ejs -->

<!DOCTYPE html>  
<html lang="en">  
  <% include ../partials/head %>
  <body>
  
    <% include ../partials/nav %>

    <div class="row padded">
      <div class="medium-8 medium-centered large-6 large-centered columns">

        <form method="post" name="registration_form" data-abide novalidate>
          <div class="row column register-form">
            <h4 class="text-center">Create an account</h4>
            <label>Email
              <input name="email" type="email" placeholder="somebody@example.com" required>
              <span class="form-error">Please enter a valid email address.</span>
            </label>
            <label>Username
              <input name="username" type="text" pattern="username" required>
              <span class="form-error">Please enter a valid username.<br>A username can only contain alphanumeric characters, dashes, and underscores.</span>
            </label>
            <label>Password
              <input id="password" name="password" type="password" placeholder="Password" required>
              <span class="form-error">Please enter a password.</span>
            </label>
            <label>Confirm Password
              <input name="password-confirm" type="password" placeholder="Password" data-equalto="password" required>
              <span class="form-error">Please enter the same password as you did previously.</span>
            </label>
            <p><button class="button expanded">Register</button></p>
            <p class="text-center"><a href="/auth/login">Already have an account? Log in.</a></p>   
          </div>
        </form>

      </div>
    </div>

    <% include ../partials/scripts %>
  </body>
</html>  